# Top managers from 2019/20

In [4]:
import pandas as pd
import os.path

pod_do_podatkov = os.path.join("FPL-vaastav", "data", "2010-21", "cleaned_players.csv")
podatki = pd.read_csv(pod_do_podatkov)

FileNotFoundError: [Errno 2] No such file or directory: 'FPL-vaastav\\data\\2010-21\\cleaned_players.csv'

In [ ]:
pd.options.display.max_columns = 20
pd.options.display.max_rows

In [11]:
podatki

,team_id,gw,points,bench,gw_rank,transfers,hits,total_points,overall_ank,team_value,chip
0,277641,1,68,4,2382718,0,0,68,2382761,100.0,NaN
1,277641,2,103,3,32,0,0,171,1718,100.2,wildcard
2,277641,3,46,2,2852227,1,0,217,7717,100.8,NaN
3,277641,4,69,1,1265932,2,4,282,6905,101.4,NaN
4,277641,5,64,7,1187694,1,0,346,3929,101.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...
375,1775478,43,75,3,1476389,0,0,2247,17,105.6,NaN
376,1775478,44,61,8,826151,0,0,2308,25,105.6,freehit
377,1775478,45,58,1,643734,1,0,2366,18,105.6,NaN
378,1775478,46,72,9,825537,1,0,2438,16,105.6,NaN
379,1775478,47,81,8,962131,1,0,2519,10,105.6,NaN

In [4]:
podatki.sort_values(["team_id", "points"])

,team_id,gw,points,bench,gw_rank,transfers,hits,total_points,overall_ank,team_value,chip
90,24513,15,34,9,5895948,0,0,904,23429,103.4,NaN
103,24513,28,39,0,938723,2,4,1853,1,106.2,NaN
82,24513,7,44,2,5334902,3,4,451,21731,102.3,NaN
83,24513,8,44,8,1405307,0,0,495,16235,102.7,NaN
104,24513,29,45,11,4977363,2,4,1894,1,106.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...
163,3199311,12,88,1,12020,2,0,735,13052,102.8,NaN
183,3199311,41,88,3,148253,1,0,2100,22,103.0,NaN
175,3199311,24,90,3,152466,2,4,1518,288,106.1,3xc
182,3199311,40,96,3,98458,0,0,2012,66,103.2,freehit
181,3199311,39,117,0,58096,12,0,1916,128,103.4,bboost

Pogledamo lastnosti enega managerja posebej.

In [5]:
manager_1 = podatki.loc[podatki["team_id"] == 24513]

In [6]:
manager_1

,team_id,gw,points,bench,gw_rank,transfers,hits,total_points,overall_ank,team_value,chip
76,24513,1,85,5,593499,0,0,85,593504,100.0,NaN
77,24513,2,53,2,787623,0,0,138,257814,100.1,NaN
78,24513,3,50,1,2200897,2,0,188,302587,100.4,NaN
79,24513,4,83,4,232044,0,0,271,27394,100.7,wildcard
80,24513,5,63,6,1255982,0,0,334,15567,101.5,NaN
81,24513,6,77,7,322286,1,0,411,4630,101.8,NaN
82,24513,7,44,2,5334902,3,4,451,21731,102.3,NaN
83,24513,8,44,8,1405307,0,0,495,16235,102.7,NaN
84,24513,9,65,0,21248,1,0,560,1124,102.7,NaN
85,24513,10,47,5,3769071,2,0,607,6449,102.8,NaN
86,24513,11,77,3,614309,0,0,684,3857,103.3,NaN
87,24513,12,70,3,499263,2,0,754,3453,102.8,NaN
88,24513,13,66,3,884501,2,4,816,4626,103.0,NaN
89,24513,14,58,10,2100878,2,4,870,4139,103.1,NaN
90,24513,15,34,9,5895948,0,0,904,23429,103.4,NaN
91,24513,16,79,10,324241,2,0,983,10590,103.9,NaN
92,24513,17,91,9,90626,1,0,1074,1911,103.9,NaN
93,24513,18,52,1,872238,0,0,1126,1439,104.6,NaN
94,24513,19,69,3,630972,1,0,1195,662,104.9,NaN
95,24513,20,62,2,2037804,2,0,1257,834,105.0,NaN
96,24513,21,67,0,493117,1,0,1324,480,105.2,NaN
97,24513,22,111,6,1372,1,0,1435,12,105.4,NaN
98,24513,23,87,3,11730,0,0,1522,1,105.6,NaN
99,24513,24,89,3,174432,2,0,1611,1,105.9,NaN
100,24513,25,65,9,909929,0,0,1676,1,106.3,NaN
101,24513,26,82,14,227421,2,0,1758,1,106.6,NaN
102,24513,27,60,4,845852,1,0,1818,1,106.7,NaN
103,24513,28,39,0,938723,2,4,1853,1,106.2,NaN
104,24513,29,45,11,4977363,2,4,1894,1,106.3,NaN
105,24513,39,89,2,838229,0,0,1983,2,106.2,freehit
106,24513,40,85,8,530832,1,0,2068,2,106.3,NaN
107,24513,41,57,4,2723066,1,0,2125,6,105.7,NaN
108,24513,42,58,10,2234749,0,0,2183,9,104.5,wildcard
109,24513,43,91,0,243870,0,0,2274,4,105.0,bboost
110,24513,44,102,10,6594,3,4,2372,2,104.4,NaN
111,24513,45,56,7,854212,1,0,2428,1,104.5,NaN
112,24513,46,63,13,1867125,1,0,2491,1,104.9,NaN
113,24513,47,58,3,4151291,1,0,2549,3,105.2,3xc

Rad bi pogledal povprečen gw uporabe wildcarda.

In [7]:
wc_data = podatki.loc[podatki["chip"] == "wildcard"]
wc_data

,team_id,gw,points,bench,gw_rank,transfers,hits,total_points,overall_ank,team_value,chip
1,277641,2,103,3,32,0,0,171,1718,100.2,wildcard
22,277641,23,39,14,4660216,0,0,1437,473,107.3,wildcard
55,184028,18,49,1,1291201,0,0,1132,903,105.0,wildcard
75,184028,47,68,10,2445047,0,0,2557,2,107.1,wildcard
79,24513,4,83,4,232044,0,0,271,27394,100.7,wildcard
108,24513,42,58,10,2234749,0,0,2183,9,104.5,wildcard
117,736356,4,94,4,39140,0,0,263,71504,101.0,wildcard
137,736356,24,79,8,496937,0,0,1466,4911,105.9,wildcard
155,3199311,4,63,4,1982688,0,0,273,21396,100.8,wildcard
184,3199311,42,84,0,152983,0,0,2184,8,103.2,wildcard
198,151003,9,40,13,2204063,0,0,539,10063,101.6,wildcard
220,151003,40,96,6,98458,0,0,2054,9,104.2,wildcard
231,116943,4,68,9,1299148,0,0,268,39308,101.7,wildcard
258,116943,40,91,16,213535,0,0,2017,46,107.8,wildcard
275,641002,10,79,13,186972,0,0,665,16,102.3,wildcard
296,641002,40,77,12,1213507,0,0,2063,3,105.6,wildcard
308,740828,5,50,8,3702666,0,0,280,1300457,99.9,wildcard
327,740828,24,66,12,1487703,0,0,1517,304,104.8,wildcard
343,1775478,2,59,6,344058,0,0,145,108396,100.3,wildcard
363,1775478,22,72,10,849157,0,0,1402,171,105.3,wildcard

Ločimo tabele na prvi wildcard do 21 kroga in drugi, in pogledamo kdaj povprečno sta bila uporabljena.

In [8]:
prvi_wc = wc_data.loc[wc_data["gw"] <= 21]
drugi_wc = wc_data.loc[wc_data["gw"] > 21]
prvi_wc
#drugi_wc

,team_id,gw,points,bench,gw_rank,transfers,hits,total_points,overall_ank,team_value,chip
1,277641,2,103,3,32,0,0,171,1718,100.2,wildcard
55,184028,18,49,1,1291201,0,0,1132,903,105.0,wildcard
79,24513,4,83,4,232044,0,0,271,27394,100.7,wildcard
117,736356,4,94,4,39140,0,0,263,71504,101.0,wildcard
155,3199311,4,63,4,1982688,0,0,273,21396,100.8,wildcard
198,151003,9,40,13,2204063,0,0,539,10063,101.6,wildcard
231,116943,4,68,9,1299148,0,0,268,39308,101.7,wildcard
275,641002,10,79,13,186972,0,0,665,16,102.3,wildcard
308,740828,5,50,8,3702666,0,0,280,1300457,99.9,wildcard
343,1775478,2,59,6,344058,0,0,145,108396,100.3,wildcard

In [9]:
povprecje_1 = (prvi_wc["gw"].sum()/len(prvi_wc))
povprecje_2 = (drugi_wc["gw"].sum()/len(drugi_wc))
povprecje_1.round(), povprecje_2.round()

(6.0, 34.0)